<p id="notice"><%= notice %></p>

<h1>Listing Soundfiles</h1>

<table>
  <thead>
    <tr>
      <th>Sound</th>
      <th>File name</th>
      <th>Content type</th>
      <th>File size</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @soundfiles.each do |soundfile| %>
      <tr>
        <td><%= soundfile.sound %></td>
        <td><%= soundfile.file_name %></td>
        <td><%= soundfile.content_type %></td>
        <td><%= soundfile.file_size %></td>
        <td><%= link_to 'Show', soundfile %></td>
        <td><%= link_to 'Edit', edit_soundfile_path(soundfile) %></td>
        <td><%= link_to 'Destroy', soundfile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Soundfile', new_soundfile_path %>
