<p id="notice"><%= notice %></p>

<p>
  <strong>Sound:</strong>
  <%= @soundfile.sound %>
</p>

<p>
  <strong>File name:</strong>
  <%= @soundfile.file_name %>
</p>

<p>
  <strong>Content type:</strong>
  <%= @soundfile.content_type %>
</p>

<p>
  <strong>File size:</strong>
  <%= @soundfile.file_size %>
</p>

<%= link_to 'Edit', edit_soundfile_path(@soundfile) %> |
<%= link_to 'Back', soundfiles_path %>
