<%= link_to "Browse all sounds", sounds_path %><br>
<%= link_to "Create an account", new_account_path %><br>
<%= link_to "Log into your account", login_path %><br>

<% if logged_in? %>
<br>
<h4>Welcome, <%= current_user.real_name %>!</h4>
<%= link_to "Your account & sounds", user_path(current_user.username) %><br>
<%= link_to "Create a sound", new_sound_path %><br>
<%= button_to "Log out of your account", logout_path, method: :delete, class: "link-button" %>
<% end %>

<br>
<h4>Administration</h4>
<%= link_to "Browse and edit users", users_path %><br>