<h1>Listing Sounds</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Soundfile</th>
      <th>MIME Type</th>
      <th>Play Sound</th>
    </tr>
  </thead>

  <tbody>
    <% @sounds.each do |sound| %>
      <tr>
        <td><%= link_to sound.user.username, user_path(sound.user.username) %></td>
        <td><%= link_to sound.title, sound %></td>
        <td><%= link_to sound.soundfile.file_name, sound.soundfile.public_file_path %></td>
        <td><%= sound.soundfile.content_type %></td>
        <td>
            <audio controls>
                <source src="/<%= sound.soundfile.public_file_path %>" type="<%= sound.soundfile.content_type %>"/>
            </audio>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sound', new_sound_path %>
