<h2><%= @sound.title %></h2>

<p class="audio-player">
  <audio controls>
    <source src="/<%= @sound.soundfile.public_file_path %>" type="<%= @sound.soundfile.content_type %>"/>
  </audio>
</p>

<%= link_to 'Edit', edit_sound_path(@sound) %> |
<%= link_to 'Back', sounds_path %>
